#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=some-secret-here

NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=https://googlex-yugx-backend.vercel.app

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID=Ov23liP8Om83JF91TYta 
GITHUB_SECRET=6355aaf529ec8b800e5e0fcc6037a2bc28118c36 

MONGODB_URI=mongodb+srv://ranjhaniharshal:VYSRl4W7zIzT3z0R@cluster0.rm3wxbw.mongodb.net/
APP_PASSWORD=dxfp-nlrj-yvpr-zkll


